.all{
	position: relative;
}
.bg{
	position: absolute;
	z-index: 10;
}
.bg2{
	position: absolute;
	z-index: 5;
}
.lines{
	position: absolute;
	z-index: 7;
	animation: mymove 3s infinite;
}

@keyframes mymove {
  from {top: 0px;}
  to {top: 140px;}
}
.size{
	width: 700px;
	height: 1080px;
	position: relative;
	top: 0;
	left: 200px;
	z-index: 20;
}
.logo{
	margin-top: 70px;
}
.title1{
	margin-top: 100px;
	font-family: BPG Mrgvlovani Caps;
	color: #213d3d;
	font-weight: bold;
	font-size: 50px;
}
.line{
	width:  240px;
    height: 1px;
    background-color: white;
    display: inline-block;
    margin-bottom: 5px;
}
.title2{
	margin-top: 35px;
	font-family: BPG Mrgvlovani;
	color: white;
	font-size: 35px;
	display: inline-block;
	margin-left: 23px;

}
.button{
	width: 212px;
	height: 69px;
	top: 600px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(59,181,253);
	background: linear-gradient(149deg, rgba(59,181,253,1) 0%, rgba(115,114,254,1) 100%);
	border-radius: 15px;
	box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5);
	position: absolute;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;

}
.button:hover{
	box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.7);

}
.button-text{
	font-size: 18px;
	color: #fff;
	font-family: BPG Mrgvlovani Caps;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
